google-generativeai
python-dotenv
langchain_chroma
langchain
pandas
scikit-learn
numpy
scipy
embeddings
transformers
langchain-community
tf-keras
scikit-learn-intelex
ollama
fastapi
uvicorn
pydantic
fastapi[all]
nest_asyncio